@import url("normilize.css");

* {
  font-family: 'Merriweather', sans-serif;
  box-sizing: border-box;
  color: rgb(50, 90, 135);
  background: rgb(250, 250, 250);
}

/*Positioning ----------*/

.main_header, .main_footer {
  text-align: center;
}

.intro, .main_content, .main_footer {
  width: 90%;
  margin: 0 auto;
}

fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 2em;
}

.newsletter input {
  margin: 0.7em 0.7em 0 0;
}

.contact_info label {
  display: block;
}

/*General Styling ----------*/

footer {
  font-style: italic;
}

hr {
  height: 0.1em;
  background: rgb(45, 57, 69);
  margin: 0.15em 0;
  padding: 0;
}

.bold_hr {
  height: 0.2em;
}

h1 {
  margin: 0;
  color: white;
  background: rgb(45, 57, 69);
  padding: 0.7em;
  font-size: 1.5em;
}

h2, h3 {
  color: rgb(45, 57, 69);
}

h3 {
  font-size: 1.3em;
}


.main_header p, .main_footer p, select {
  color: darkgrey;
}

input[type="button"], input[type="text"], select, textarea {
  background: rgb(239, 240, 241);
  padding: 1em;
  border-radius: 0.25em;
  border: 0;
  width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1em;
}

input[type="button"] {
  background: rgb(77, 187, 181);
  color: white;
}

textarea {
  resize: none;
}

.contact_info label {
  margin: 1em 0 0.5em;
}

input[placeholder="Required "]:invalid {
  font-style: italic;
  text-align: right;
}

#zip_code {
  width: 50%;
}

@media (min-width: 769px) {
  .intro, .main_content, .main_footer {
    width: 50%;
    min-width: 600px;
  }

  .contact_info label {
    width: 20%;
    display: inline;
    float: left;
  }

  input[type="text"], select {
    width: 80%;
    margin-bottom: 1em;
    clear: both;
  }

  #zip_code {
    width: 30%;
    margin-bottom: 0;
  }

  .main_footer {
    margin-top: 2em;
  }

  .intro {
    margin: 4em auto 2em;
  }
}
